div#verConsultora img {
    width: 100%;
    margin-bottom: 37px;
}
div#verConsultora button {
    position: absolute;
    top: 69px;
    padding: 9px;
    left: 62px;
}
div#dokan_tnc_text {
    display: block!important;
}
.dokan-w5.dokan-text-left.dokan_tock_check {
    display: none;
}
.bandeirasH {
    float: left;
    margin-left: 16px;
    padding: 8px;
}
span.details img {
    border-radius: 60px;
    width: 60px!important;
    float: left;
    margin-right: 16px;
    margin-left: 10px;
}
label.checkbox-inline.form-label.hide_if_variation {
    display: none!important;
}
.pronta {
    border-radius: 45px;
    top: 22%;
    left: 5%;
    right: auto;
    margin: 0;
    box-shadow: none;
    padding: 0px 15px;
    text-shadow: none;
    min-height: 26px;
    line-height: 16px;
    font-weight: normal;
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: .857em;
    background: rgba(146, 173, 68, 0.78);
    box-sizing: border-box;
    padding: 9px;
}
span.compre {
    padding: 10px;
    background-color: #7D7D7D;
    display: block;
    font-size: 11px;
    color: #99F58E;
    text-transform: uppercase;
}
span.pedido {
    padding: 10px;
    background-color: #7D7D7D;
    display: block;
    font-size: 11px;
    color: #ECA59D;
    text-transform: uppercase;
}
select.orderby {
    display: none;
}
p.woocommerce-result-count {
    display: none;
}
img.dokan-store-img {
    width: 100%;
    border-bottom: 6px solid #A7AE94;
    height: 110px;
    float: left;
}
span.profile-img-sellers2 img {
    border-radius: 52px;
    box-shadow: 1px 2px 3px #A7AE94;
    width: 108px;
}
span.profile-img-sellers2 {
    width: 100%;
    margin-top: -48px;
    text-align: center;
    float: left;
    margin-bottom: 29px;
        margin-left: 68px;
}
.dokan-store-caption {
    background: whitesmoke;
}
.cd-filter-block input[type='search'] {
    background: white!important;
    float: left!important;
}
.cd-filter-block input[type='search'], .cd-filter-block input[type='text'], .cd-filter-block select {
    width: 201px!important;
    float: left!important;
    margin-left: 47px!important;
}
a.navbar-brand {
    display: none;
}
div#verConsultora a {
    position: absolute;
    left: 100px;
    top: 57px;
}
ul.slides li {
    background: white;
    padding-bottom: 11px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {

    background: white;
}

.product_pack_item.chek {
    border: 1px solid #f05025;
    cursor: pointer;
}

.product_pack_item.chek1 {
    border: 1px solid #f05025;
    cursor: pointer;
}

.product_pack_item.chek2 {
    border: 1px solid #f05025;
    cursor: pointer;
}
h1.entry-title h6 {
    text-align: center;
    font-size: 19px;
    background: url(images/load.gif);
    background-repeat: no-repeat;
    background-position: right;
    width: 60%;
    margin: 0 auto;
}
ul.nav.nav-tabs {
    margin: 0 auto;
    width: 31%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: white!important;
    background-color: #8E44AD!important;
    border: none!important;
}
div#map {
height: 260px!important;
}
input.default{
  display: none;
}
ul.chosen-choices {
    display: none;
}
label.dokan-checkbox-inline.dokan-form-label {
    display: none;
}
label.checkbox-inline.form-label.hide_if_variation {
    display: none;
}
select#_visibility {
    display: none;
}
.site-footer .footer-copy a {
    color: #AFAFAF!important;
}
